@import "~src/theme.scss";

#topBar {
  height: 5rem;
  width: 100%;
  background: mat-color($app-primary);
  color: white;
  display: inline-flex;
}

#title {
  height: 100%;
  width: fit-content;
  position: relative;
  left: 2rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: 'Turret Road', cursive;
  white-space: nowrap;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: fit-content;
  position: relative;
  left: 10rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
}

#algoSelect {
  position: relative;
  top: 0.5rem;
  margin: 0 0.5rem;
}

#stepMode {
  position: relative;
}

.topBarButton {
  margin: 0 0.5rem;
}

.topBarSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

.sliderValue {
  position: relative;
  top: 0.8rem;
}

#body {
  background: #F5F5F6;
  height: 49rem;
  width: 100%;
}

#coloursInformation {
  display: flex;
  width: fit-content;
  position: relative;
  bottom: 2.8rem;
  left: 6rem;
}

ul {
  list-style-type: none;
  margin: 0 0.5rem;
}

li {
  display: flex;
  justify-content: left;
  align-items: center;
}

.square {
  height: 0.8rem;
  width: 0.8rem;
  position: relative;
  right: 0.6rem;
}

#footer {
  background: #F5F5F6;
  height: 3.5rem;
}
