@import "~src/theme.scss";

#wrapper {
  height: 100vh;
}

#topBar {
  height: fit-content;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background: mat-color($app-primary);
  color: white;
}

#menuBtn {
  margin-right: 1rem;
}

#title {
  font-size: 2rem;
  font-family: 'Turret Road', cursive;
  margin-top: 1rem;
  margin-left: 2rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
}

#algoSelect {
  top: 0.5rem;
  margin: 0 0.5rem 0 1rem;
}

#stepMode {
  margin-right: 1rem;
}

.topBarButton {
  margin: 0 0.5rem;
}

.topBarSlider {
  margin: 0 0.5rem;
}

.sliderValue {
  position: relative;
  top: 0.8rem;
}

#body {
  background: #F5F5F6;
  height: 100%;
  position: relative;
}

#github {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: darkgrey;
}

// ============== SMARTPHONE ==============

@media screen and (max-height: 550px) {
  #github {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  #topBar {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1310px) and (max-width: 1390px){
  #title {
    font-size: 2vw;
  }
}

#titleSP {
  font-size: 1.6rem;
  font-family: 'Turret Road', cursive;
  margin-top: 1rem;
}

#drawerSP {
  background-color: mat-color($app-primary);
  color: white;
}

#algoSelectSP {
  margin: 1rem 0.5rem 0;
}

.topBarButtonSP {
  margin-bottom: 1rem;
}

.topBarSliderSP {
  margin-bottom: 0.5rem;
}
