<div id="coloursInformation">
  <ul>
    <li *ngFor="let label of this._sorter._labels;">
      <div  class="square" [ngStyle]="{backgroundColor: label.color}"></div>
      {{label.text}}
    </li>
  </ul>
</div>

<div (keydown.arrowLeft)="backwardsButton()" (keydown.arrowRight)="forwardButton()">
  <button id="backBtn"  class="arrowBtn" mat-fab (click)="backwardsButton()" [disabled]="this._backwardsBtnDisabled">
    <mat-icon *ngIf="!_stepMode">fast_rewind</mat-icon>
    <mat-icon *ngIf="_stepMode">skip_previous</mat-icon>
  </button>

  <button id="middleBtn" mat-fab (click)="middleButton()" [disabled]="this._middleBtnDisabled">
    <span *ngIf="this._middleBtnState === 'sort'">SORT</span>
    <mat-icon *ngIf="this._middleBtnState === 'play'">play_arrow</mat-icon>
    <mat-icon *ngIf="this._middleBtnState === 'pause'">pause</mat-icon>
  </button>

  <button id="forwardBtn" class="arrowBtn" mat-fab (click)="forwardButton()" [disabled]="this._forwardBtnDisabled">
    <mat-icon *ngIf="!_stepMode">fast_forward</mat-icon>
    <mat-icon *ngIf="_stepMode">skip_next</mat-icon>
  </button>
</div>
