<mat-form-field appearance="fill">
  <mat-label>Sorting Algorithm</mat-label>
  <mat-select (selectionChange)="onSelectChange($event)" value="Selection Sort" [disabled]="_disableButtons">
    <mat-option value="Selection Sort">Selection Sort</mat-option>
    <mat-option value="Insertion Sort">Insertion Sort</mat-option>
    <mat-option value="Bubble Sort">Bubble Sort</mat-option>
    <mat-option value="Shell Sort">Shell Sort</mat-option>
    <mat-option value="Quick Sort">Quick Sort</mat-option>
  </mat-select>
</mat-form-field>

<mat-slide-toggle (change)="onToggleChange($event)">Step Mode</mat-slide-toggle>

<div *ngIf="!_stepMode; else stepButtons">
  <button mat-fab (click)="rewind()">
    <mat-icon>fast_rewind</mat-icon>
  </button>

  <button mat-fab (click)="sort()" *ngIf="_index === 0">
    Sort
  </button>

  <button mat-fab *ngIf="_disableButtons === false && _index !== 0" (click)="resume()">
    <mat-icon>play_arrow</mat-icon>
  </button>

  <button mat-fab *ngIf="_disableButtons === true" (click)="stop()">
    <mat-icon>pause</mat-icon>
  </button>
</div>

<ng-template #stepButtons>
  <button mat-fab *ngIf="_frames.length === 0" (click)="sort()">Sort</button>
  <button mat-fab (click)="animateBackwards()">
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button mat-fab (click)="animate()">
    <mat-icon>skip_next</mat-icon>
  </button>
</ng-template>
