:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2%;
}

.arrowBtn {
  height: 60px;
  width: 60px;
}

#backBtn {
  position: relative;
  left: 6%;
}

#middleBtn {
  height: 70px;
  width: 70px;
  z-index: 1;
}

#forwardBtn {
  position: relative;
  right: 6%;
}

::ng-deep.mat-fab.mat-button-disabled {
  box-shadow: none !important;
  opacity: 1;
  background: lightgrey !important;
  color: rgba(0,0,0,.87) !important;
}
