:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1.5rem;
}

.arrowBtn {
  height: 3.8rem;
  width: 3.8rem;
}

#backBtn {
  position: relative;
  left: 0.7rem;
}

#middleBtn {
  height: 4.5rem;
  width: 4.5rem;
  z-index: 1;
}

#forwardBtn {
  position: relative;
  right: 0.7rem;
}

::ng-deep.mat-fab.mat-button-disabled {
  box-shadow: none !important;
  opacity: 1;
  background: lightgrey !important;
  color: rgba(0,0,0,.87) !important;
}
