:host {
  background: #F5F5F6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative; // so absolute can be used in children
}

@media screen and (max-height: 599px) {
  :host {
    margin-top: 0.5rem;
  }
}

.arrowBtn {
  height: 3.8rem;
  width: 3.8rem;
}

#backBtn {
  position: relative;
  left: 0.7rem;
}

#middleBtn {
  height: 4.5rem;
  width: 4.5rem;
  z-index: 1;
}

#forwardBtn {
  position: relative;
  right: 0.7rem;
}

::ng-deep.mat-fab.mat-button-disabled {
  box-shadow: none !important;
  opacity: 1;
  background: lightgrey !important;
  color: rgba(0,0,0,.87) !important;
}

#coloursInformation {
  display: flex;
  position: absolute;
  left: 4%;
}

@media screen and (max-width: 799px)
{
  #coloursInformation {
    display: none;
  }
}

ul {
  list-style-type: none;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 4rem;
}

li {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 2rem;
}

.square {
  height: 0.8rem;
  width: 0.8rem;
  position: relative;
  right: 0.6rem;
}
